<img style="float: left;;" src='Figures/alinco.png' /></a>
    
# <center> <font color= #000047> Actividad 2: librería Pandas.</font>
___

### Utilizando el archivo [titanic.csv], realice lo que se le pide:


**1. Generar un DataFrame con los datos del fichero.**

**2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas.**

In [ ]:
import pandas as pd
import numpy as np
df=r"titanic.csv"
t=pd.read_csv(df)
print(t.head(10))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

**3. Mostrar por pantalla los datos del pasajero con identificador 148.**

In [7]:
print("pasajero con el identificador 148",t.loc[148])

pasajero con el identificador 148 PassengerId                                         149
Survived                                              0
Pclass                                                2
Name           Navratil, Mr. Michel ("Louis M Hoffman")
Sex                                                male
Age                                                36.5
SibSp                                                 0
Parch                                                 2
Ticket                                           230080
Fare                                               26.0
Cabin                                                F2
Embarked                                              S
Name: 148, dtype: object

**4. Mostrar por pantalla las filas pares del DataFrame.**

In [8]:
print (t.iloc[::2])

     PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
4              5         0       3
6              7         0       1
8              9         1       3
..           ...       ...     ...
882          883         0       3
884          885         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
2        0  STON/O2. 3101282   7.9250   NaN        S
4        0            373450   8.0500   NaN        S
6        0             17463  51.8625   E46        S
8        2            347742  11.1333   NaN        S
..     ...               ...      ...   ...      ...
882      0              7552  10.5167   NaN        S
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
888      2        W./C. 6607  23.4500   NaN        S
890      0            370376   7.7500   NaN        Q

[446 rows x 12 columns]

**5. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.**

In [11]:
primera_clase = t[t['Pclass'] == 1]
nombres_ordenados = primera_clase['Name'].sort_values()
print(nombres_ordenados)

730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Name, Length: 216, dtype: object

**6. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.**

In [13]:
porcentajes = t['Survived'].value_counts(normalize=True) * 100

print("Porcentaje de personas que murieron y sobrevivieron:")
print(porcentajes)

Porcentaje de personas que murieron y sobrevivieron:
Survived
0    61.616162
1    38.383838
Name: proportion, dtype: float64

**7. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.**

In [14]:
porcentaje_supervivencia = t.groupby('Pclass')['Survived'].mean() * 100

print("Porcentaje de supervivientes por clase:")
print(porcentaje_supervivencia)

Porcentaje de supervivientes por clase:
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

**8. Eliminar del DataFrame los pasajeros con edad desconocida.**

In [15]:
limpio = t.dropna(subset=['Age'])

# Verificar que no hay valores nulos en Age
print(limpio['Age'].isnull().sum())
print("Número de filas después de eliminar pasajeros con edad desconocida:", len(limpio))

0
Número de filas después de eliminar pasajeros con edad desconocida: 714

**9. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.**

In [8]:
# código aquí

**10.  Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.**

In [17]:
t['MenorEdad'] = t['Age'] < 18


print(t[['Name', 'Age', 'MenorEdad']].head())

                                                Name   Age  MenorEdad
0                            Braund, Mr. Owen Harris  22.0      False
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      False
2                             Heikkinen, Miss. Laina  26.0      False
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      False
4                           Allen, Mr. William Henry  35.0      False

**11.  Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.**

In [18]:

t['MenorEdad'] = t['Age'] < 18

# Agrupar por clase y por si es menor de edad, luego calcular el porcentaje de supervivientes
porcentaje_supervivientes = t.groupby(['Pclass', 'MenorEdad'])['Survived'].mean() * 100

print("Porcentaje de supervivientes por clase y edad (menor/mayor):")
print(porcentaje_supervivientes)

Porcentaje de supervivientes por clase y edad (menor/mayor):
Pclass  MenorEdad
1       False        61.274510
        True         91.666667
2       False        40.993789
        True         91.304348
3       False        21.791768
        True         37.179487
Name: Survived, dtype: float64

**11.  Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.**

In [20]:
t['MenorEdad'] = t['Age'] < 18

# Agrupar por clase y por menor/mayor de edad, calcular porcentaje de supervivientes
supervivientes = t.groupby(['Pclass', 'MenorEdad'])['Survived'].mean() * 100

# Convertir a DataFrame y renombrar columna para mejor presentación
porcentaje = supervivientes.reset_index()
porcentaje.rename(columns={'Survived': 'PorcentajeSupervivientes'}, inplace=True)
print(porcentaje)

   Pclass  MenorEdad  PorcentajeSupervivientes
0       1      False                 61.274510
1       1       True                 91.666667
2       2      False                 40.993789
3       2       True                 91.304348
4       3      False                 21.791768
5       3       True                 37.179487